html, body{
    font-family: 'Nunito', sans-serif;
}

.table td.fit,
.table th.fit,
.table td.data-fit,
.table th.data-fit {
    white-space: nowrap;
    width: 1%;
}
.fa-chart-area:hover{
    color: #1d68a7;
    cursor: pointer;
}
.fa-ban:hover{
    color: red;
    cursor: pointer;
}

.fa-edit:hover{
    color: #f6993f;
    cursor: pointer;
}